@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f5efe6;
  color: #101010;
  font-family: "Encode Sans", sans-serif;
  font-size: 14px;
}

.clip-path {
  clip-path: polygon(100% 1%, 95% 53%, 100% 100%, 0% 100%, 5% 53%, 0% 0%);
}

.fancy-border {
  border-radius: 58% 42% 70% 30% / 30% 36% 64% 70%;
}
