@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f5e5e6;
  color: #101010;
  font-family: "Encode Sans", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

.clip-path {
  clip-path: polygon(100% 1%, 95% 53%, 100% 100%, 0% 100%, 5% 53%, 0% 0%);
}

.fancy-border {
  border-radius: 58% 42% 70% 30% / 30% 36% 64% 70%;
}

.fancy-border-hero {
  border-radius: 21% 79% 69% 31% / 47% 77% 23% 53%;
}
